{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="login">    
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
        <p class="fs-1 fw-bold text-center">Login</p>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <div class="mb-3">
                    <tr>
                        <td class="pe-2"><label for="form-label">Username</label></td>
                        <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                    </tr>
                </div>
                        
                <div class="mb-3">
                    <tr>
                        <td class="pe-2"><label for="form-label">Password</label></td>
                        <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                    </tr>
                </div>
    
                <tr>
                    <td></td>
                    <td><input class="btn btn-primary login_btn" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
         
        <div class="d-flex">
            <p>Belum mempunyai akun?</p>
            <a href="{% url 'wishlist:register' %}">Buat Akun</a>
        </div>
    </div>
</div>

{% endblock content %}