{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-self-start">
                <li class="nav-item">
                    <a href="{% url 'wishlist:show_wishlist' %}">Home</a>
                </li>
            </ul> -->

            <div class="container-fluid align-self-end">
                <span class="navbar-brand mb-0 h1 text-light">Jeremy Alva Prathama</span>
            </div>

            <div class="d-flex align-self-end">
                <button class="btn btn-outline-light">
                    <a href="{% url 'wishlist:logout' %}" class="text-decoration-none text-light link-dark border border-0">Logout</a>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="container-md d-flex flex-column justify-content-center align-items-center p-4">
    
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Nama Barang</th>
                <th scope="col">Harga Barang</th>
                <th scope="col">Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            {% for barang in list_barang %}
                <tr>
                    <th>{{barang.nama_barang}}</th>
                    <th>{{barang.harga_barang}}</th>
                    <th>{{barang.deskripsi}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p class="fs-6">Sesi terakhir login: {{ last_login }}</p>
</div>

{% endblock content %}